.App {
	text-align: center;

	background-color: var(--backgroun-color);
	height: 100vh;
	/* width: 1000px; */
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Gotham Rounded, sans-serif;
	font-weight: normal;
}

p {
	text-decoration: line-through;
}

@font-face {
	font-family: 'Epyval';
	src: url('./fonts/Epyval.ttf') format('truetype');
}
